aiohttp==3.9.4
aiosignal==1.3.1
annotated-types==0.6.0
anthropic==0.25.1
anyio==4.3.0
archspec @ file:///croot/archspec_1697725767277/work
attrs==23.2.0
backoff==2.2.1
boltons @ file:///C:/ci_311/boltons_1677729932371/work
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
build==1.2.1
CacheControl==0.14.0
certifi==2024.2.2
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
conda @ file:///C:/b/abs_89vd8hj61u/croot/conda_1708369170790/work
conda-content-trust @ file:///C:/b/abs_e3bcpyv7sw/croot/conda-content-trust_1693490654398/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///C:/b/abs_b9wp3lr1gn/croot/conda-package-handling_1691008700066/work
conda_package_streaming @ file:///C:/b/abs_6c28n38aaj/croot/conda-package-streaming_1690988019210/work
crashtest==0.4.1
cryptography @ file:///C:/b/abs_531eqmhgsd/croot/cryptography_1707523768330/work
dataclasses-json==0.5.7
datasets==2.18.0
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distlib==0.3.8
distro @ file:///C:/b/abs_a3uni_yez3/croot/distro_1701455052240/work
dulwich==0.21.7
ecdsa==0.19.0
fastapi==0.110.1
fastjsonschema==2.19.1
filelock==3.13.4
frozenlist==1.4.1
fsspec==2024.2.0
gpt-engineer==0.2.9
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
idna==3.7
importlib_metadata==7.1.0
installer==0.7.0
jaraco.classes==3.4.0
jsonpatch==1.33
jsonpointer==2.1
keyring==24.3.1
langchain==0.1.16
langchain-anthropic==0.1.8
langchain-community==0.0.32
langchain-core==0.1.42
langchain-openai==0.1.3
langchain-text-splitters==0.0.1
langsmith==0.1.46
libmambapy @ file:///C:/b/abs_2euls_1a38/croot/mamba-split_1704219444888/work/libmambapy
markdown-it-py==3.0.0
marshmallow==3.21.1
marshmallow-enum==1.5.1
mdurl==0.1.2
menuinst @ file:///C:/b/abs_099kybla52/croot/menuinst_1706732987063/work
monotonic==1.6
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.17.0
orjson==3.10.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.2
pexpect==4.9.0
pillow==10.3.0
pkginfo==1.10.0
platformdirs==4.2.0
pluggy @ file:///C:/ci_311/pluggy_1676422178143/work
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
ptyprocess==0.7.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pycosat @ file:///C:/b/abs_31zywn1be3/croot/pycosat_1696537126223/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.7.0
pydantic_core==2.18.1
Pygments==2.17.2
pyperclip==1.8.2
pyproject_hooks==1.0.0
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
python-jose==3.3.0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rapidfuzz==3.8.1
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
rsa==4.9
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
rudder-sdk-python==2.1.0
selenium==4.19.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.29
starlette==0.37.2
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.3.0
tiktoken==0.6.0
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.4
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
trio==0.25.0
trio-websocket==0.11.1
trove-classifiers==2024.4.10
truststore @ file:///C:/b/abs_55z7b3r045/croot/truststore_1695245455435/work
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.29.0
virtualenv==20.25.1
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.18.1
zstandard==0.19.0

python==3.11
fastapi==0.110.1
uvicorn==0.29.0
motor==3.4.0
pydantic==2.7.0
bcrypt==4.0.1
passlib==1.7.4
python-jose==3.3.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
pymongo==4.6.3
jose==1.0.0
phonenumbers==8.13.34
pillow==10.3.0
pydantic-extra-types==2.6.0
python-multipart==0.0.9
requests==2.31.0
itsdangerous==2.1.2
authlib==1.3.0
httpx==0.27.0
